.app {
  min-height: 100vh;
  WIDTH: 100%;
  background-image: url('./assets/background2.png');
  background-size: cover;
  background-position: center;
}

.app-main {
  display: flex;
  justify-content: center;
  padding: 2rem;

}