@font-face {
  font-family: "Bubble Font";
  src: url('./fonts/KinderChildKawaiiBubble-WpnAz.otf');
}

@font-face {
  font-family: "Celestial";
  src: url('./fonts/starust.regular.ttf');
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}




