.header {
  width: 100%;
  box-sizing: border-box;

  color: #e1ba87;
  font-family: "Celestial", Arial, Helvetica, sans-serif;
  text-align: center;

  padding: clamp(20px, 5vw, 30px) 15px;
}

.header h1 {
  margin: 0; 

  font-family: inherit;
  font-size: clamp(38px, 11vw, 100px);
  font-weight: normal;

  white-space: nowrap;
}

@media (max-width: 600px) {
  .header {
    padding: 25px 10px 35px;
  }

  .header h1 {
    font-size: clamp(36px, 12vw, 55px);
  }
}