.timeSetter {
  width: min(90vw, 430px);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: clamp(8px, 2vw, 15px);
}
.timeSetter .timeSetterLabel {
  flex-shrink: 0;
  
  font-family: "Celestial", Arial, Helvetica, sans-serif;
  color: #e1ba87;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 600;

  white-space: nowrap;
}

.timeSetter .timeSetterInput {
  box-sizing: border-box;

  width: clamp(70px, 18vw, 100px);
  min-width: 0;
  min-height: 42px;
  padding: 8px;

  text-align: center;
  font-size: 16px;

  background-color: #1a1917;
  color: #e1ba87;

  border: 2px solid #292724;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d1a87325;
}

.timeSetter .timeSetterButton {
  box-sizing: border-box;
  min-height: 30px;
  padding: 5px 5px;

  font-family: "Celestial", Arial, Helvetica, sans-serif;
  font-size: clamp(16px, 3vw, 18px);

  background-color: #e1ba87;
  color: #1a1917;

  border: 2px solid #1a1917;
  border-radius: 10px;

  cursor: pointer;
}

@media (max-width: 600px) {
  .timeSetter {
    width: 92%;
    gap: 8px;
  }

  .timeSetterLabel {
    font-size: clamp(21px, 7vw, 27px);
  }

  .timeSetterInput {
    width: clamp(60px, 20vw, 80px);
    padding: 6px;
  }

  .timeSetterButton {
    padding: 5px 8px;
    font-size: clamp(15px, 5vw, 18px);
  }
}